<app-admin-sidebar></app-admin-sidebar>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <!-- BEGIN: Subheader -->
    <div class="m-subheader" appunwraptag="">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">View Booking</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="javascript:void(0)" class="m-nav__link m-nav__link--icon"> <i class="m-nav__link-icon la la-home"></i> </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" [routerLink]="['/admin/booking']" class="m-nav__link"> <span class="m-nav__link-text">Booking</span> </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="javascript:void(0)" class="m-nav__link"> <span class="m-nav__link-text">View Booking</span> </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->
    <div class="m-content" style="min-height:500px;">
      <div class="row">
        <div class="col-xl-12">
          <div class="m-portlet m-portlet--full-height m-portlet--tabs">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">View Booking</h3> 
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                  <div class="tab-pane active" id="m_user_profile_tab_1">
                      <form class="m-form m-form--fit m-form--label-align-right">
                          <div class="m-portlet__body">
                                <div class="form-group m-form__group m--margin-top-10 m--hide">
                                    <div class="alert m-alert m-alert--default" role="alert">  </div>
                                </div>
                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Booking Date</label>
                                    <div class="col-7 example-container">
                                        <p>{{bookingDetails?.startdate | date : 'MMMM d, y'}}</p>
                                    </div>
                                        
                                </div>
                                
                                <div class="form-group m-form__group row">
                                  <label for="example-text-input" class="col-2 col-form-label">Booking Time</label>
                                  <div class="col-7 example-container">
                                    <p>{{bookingDetails?.starttime}}</p>
                                  </div>
                                </div>

                                <div class="form-group m-form__group row">
                                  <label for="example-text-input" class="col-2 col-form-label">Booking Status</label>
                                  <div class="col-7 example-container">
                                    <p>{{bookingDetails?.status}}</p>
                                  </div>
                                </div>

                                <div class="form-group m-form__group row">
                                  <label for="example-text-input" class="col-2 col-form-label">Booking Price</label>
                                  <div class="col-7 example-container">
                                    <p>{{bookingDetails?.price}}</p>
                                  </div>
                                </div>

                                <div class="form-group m-form__group row">
                                    <label for="example-text-input" class="col-2 col-form-label">Booking On</label>
                                    <div class="col-7 example-container">
                                      <p>{{bookingDetails?.timeStamp | date : 'MMM d, y h:mm a'}}</p>
                                    </div>
                                        
                                </div>

                                <div class="form-group m-form__group row">
                                  <label for="example-text-input" class="col-2 col-form-label">Booking User Details</label>
                                  <div class="col-7 example-container">
                                    <p><span>Name: </span>{{bookingDetails?.user_name}}</p>
                                    <p><span>Email: </span>{{bookingDetails?.user_email}}</p>
                                    <p><span>Phone No: </span>{{bookingDetails?.user_phone}}</p>
                                    
                                  </div>
                                </div>

                                <div class="form-group m-form__group row">
                                  <label for="example-text-input" class="col-2 col-form-label">Booking Trainer Details</label>
                                  <div class="col-7 example-container">
                                    <p><span>Name: </span>{{bookingDetails?.trainer_name}}</p>
                                    <p><span>Email: </span>{{bookingDetails?.trainer_email}}</p>
                                    <p><span>Phone No: </span>{{bookingDetails?.trainer_phone}}</p>
                                    <p><span>About Trainer: </span>{{bookingDetails?.trainer_about}}</p>
                                    <p><span>Service: </span>{{bookingDetails?.trainer_service}}</p>
                                  </div>
                                </div>
                                
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    <div class="row">
                                        <div class="col-2"> </div>
                                        <div class="col-7">
                                            <button type="reset" [routerLink]="['/admin/booking']" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Back</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
          </div>
        </div>  
      </div>
      <!--End::Section-->
    </div>
  </div>