<app-admin-sidebar></app-admin-sidebar>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
  <!-- BEGIN: Subheader -->
  <div class="m-subheader" appunwraptag="">
      <div class="d-flex align-items-center">
          <div class="mr-auto">
              <h3 class="m-subheader__title m-subheader__title--separator">Category List</h3>
              <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                  <li class="m-nav__item m-nav__item--home">
                      <a href="javascript:void(0)" class="m-nav__link m-nav__link--icon"> <i class="m-nav__link-icon la la-home"></i> </a>
                  </li>
                  <li class="m-nav__separator">-</li>
                  <li class="m-nav__item">
                      <a href="javascript:void(0)" [routerLink]="['/admin/dashboard']" class="m-nav__link"> <span class="m-nav__link-text">Dashboard</span> </a>
                  </li>
                  <li class="m-nav__separator">-</li>
                  <li class="m-nav__item">
                      <a href="javascript:void(0)" [routerLink]="['/admin/category']" class="m-nav__link"> <span class="m-nav__link-text">Manage Category</span> </a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <!-- END: Subheader -->
  <div class="m-content" style="min-height:500px;">
    <!--Begin::Section-->
    <div class="row">
        <div class="col-xl-12">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">Category List</h3> 
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-light template-search" m-quicksearch-mode="default">
                            <form class="m-header-search__form ng-untouched ng-pristine ng-valid" novalidate="">
                                <div class="m-header-search__wrapper"><span class="m-header-search__icon-search" id="m_quicksearch_search"><i class="flaticon-search"></i></span><span class="m-header-search__input-wrapper">
                                    <input autocomplete="off" (keyup)="applyFilter($event.target.value)" class="m-header-search__input" id="m_quicksearch_input" name="q" placeholder="Search..." type="text" value="">
                                </span><span class="m-header-search__icon-close" id="m_quicksearch_close"><i class="la la-remove"></i></span><span class="m-header-search__icon-cancel" id="m_quicksearch_cancel"><i class="la la-remove"></i></span></div>
                            </form>
                            <div class="m-dropdown__wrapper" style="z-index: 101;">
                                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__scrollable m-scrollable m-scroller ps" data-height="300" data-mobile-height="200" data-scrollable="true" style="height: 300px; overflow: hidden;">
                                            <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                            <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                                <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                            </div>
                                            <div class="ps__rail-y" style="top: 0px; right: 4px;">
                                                <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                            <ul class="m-portlet__nav">
                                <li class="m-portlet__nav-item">
                                    <a class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air" href="javascript:void(0)" [routerLink]="['/admin/category/add']"> <span><i class="la la-plus"></i><span>Add Category</span> </span>
                                    </a>
                                </li>
                            </ul>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="mat-elevation-z8">

                        <table mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? selection.toggle(row) : null"
                                                [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                                </td>
                            </ng-container>
                          <ng-container matColumnDef="_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                            <td mat-cell *matCellDef="let element;"> {{ element._id}} </td>
                          </ng-container>
                          <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                            <td mat-cell *matCellDef="let element;"> {{ element.name}} 
                            </td>
                          </ng-container>
                          <ng-container matColumnDef="count">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Count </th>
                            <td mat-cell *matCellDef="let element;"> {{ element.count }} </td>
                          </ng-container>
                          <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
                            <td mat-cell *matCellDef="let element;"> {{ element.price }} </td>
                          </ng-container>
                          <ng-container matColumnDef="time">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                            <td mat-cell *matCellDef="let element;"> {{ element.time }} </td>
                          </ng-container>
                          <ng-container matColumnDef="title">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                              <td mat-cell *matCellDef="let element;"> {{ element.title }} </td>
                          </ng-container>
                          <ng-container matColumnDef="status">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                              <td mat-cell *matCellDef="let element;"> {{ (element.status)?'Active':'Inactive' }} </td>
                          </ng-container>
                          <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let element">
                                <a [routerLink]="['edit/',element.actions]" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill" title="Edit details"> <i class="la la-edit"></i> </a> 
                                <!--<a (click)="deleteUser(element.actions)" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete"> <i class="la la-trash"></i> </a>-->
                            </td>
                          </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                      
                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                      </div>
                      
                    
                </div>
            </div>
        </div>
    </div>
    <!--End::Section-->
  </div>
</div>
